<%- layout("/layout/boilerplate") %>

    <body>
        <div class="row">
            <div class="col-8 offset-2">

                <h2>Update Your Information</h2>

                <form action="/listings/<%= listing._id %>?_method=PUT" method="post" novalidate
                    class="needs-validation" enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" name="listing[title]" value=" <%= listing.title %>" placeholder="enter title"
                            class="form-control" required>

                        <!-- validation err msg -->
                        <div class="invalid-feedback">
                            Please enter the Title
                        </div>

                    </div>

                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <textarea type="text" name="listing[desc]" rows="10" cols="50" class="form-control"
                            required> <%= listing.desc %></textarea>

                        <!-- validation err msg -->
                        <div class="invalid-feedback">
                            Please enter short Description
                        </div>
                    </div>

                    <div class="mb-3">
                        Original Listing Image <br>
                        <img src="<%= originalImgUrl %>" alt="someimage" style="height: 180px; width: 300px;">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload New Image</label>
                        <input type="file" name="listing[image]" class="form-control">
                    </div>

                    <div class="row">

                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" name="listing[price]" value="<%= listing.price %>" class="form-control"
                                required>

                            <!-- validation err msg -->
                            <div class="invalid-feedback">
                                Please enter valid Price
                            </div>
                        </div>

                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" name="listing[country]" value=" <%= listing.country %>"
                                class="form-control" required>

                            <!-- validation err msg -->
                            <div class="invalid-feedback">
                                Please enter the Country name
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" value=" <%= listing.location %>"
                            class="form-control" required>

                        <!-- validation err msg -->
                        <div class="invalid-feedback">
                            Please enter Location
                        </div>
                    </div>

                    <button class="btn-edit mb-3 btn btn-dark">Edit</button>
                </form>
            </div>
        </div>
    </body>